<a [routerLink]="['/detail', projectInfo().id]" target="_blank">
    <img [src]="projectInfo().cover" class=" w-full h-60 object-cover" />
    <div class=" mt-3">
        <p class=" text-2xl font-anton text-highlight-text">{{projectInfo().projectName}}</p>
        <p class=" line-clamp-1">{{projectInfo().description}}</p>
        <div class=" flex items-center gap-3">
            @for(item of projectInfo().platform; track item){
            <div class=" flex items-center gap-1">
                @switch(item){
                @case('Web'){
                <img src="/images/chrome.svg" alt="chrome-icon" class=" w-5">
                <div>Website</div>
                }
                @case('Extension'){
                <img src="/images/plugin.svg" alt="plugin-icon" class=" w-5">
                <div>Extension</div>
                }
                @case('Mobile'){
                <img src="/images/mobile-icon.svg" alt="mobile-icon" class=" w-5">
                <div>Mobile</div>
                }
                @case('Desktop'){
                <img src="/images/desktop.svg" alt="desktop-icon" class=" w-5">
                <div>Desktop</div>
                }
                @default{}
                }
            </div>
            }
        </div>
    </div>
</a>