<div>
    <div class=" h-56 bg-gray-300"></div>
    <div class=" mt-3 space-y-1">
        <p class=" text-2xl font-anton text-highlight-text">Project Name</p>
        <p> A description about the project</p>
        <div class=" flex items-center gap-5">
            <div class=" flex items-center gap-2">
                <img src="/images/chrome.svg" alt="chrome-icon" class=" w-5">
                <div>website</div>
            </div>
            <div class=" flex items-center gap-2">
                <img src="/images/plugin.svg" alt="plugin-icon" class=" w-5">
                <div>browser extension</div>
            </div>
        </div>
    </div>
</div>